/* Do not remove these tailwind directives. Without them styles won't work as expected */
@tailwind base;
@tailwind components;
@tailwind utilities;

.copyableText {
  display: inline-block;
  margin-left: 5px;
}


.juno-tooltip{
  z-index: 20!important;
}

.juno-datagrid-cell {
  overflow-wrap: anywhere;
}